---
layout: default
title: A Lack of Entropy
---

<article class="is-post">

    <img class="me" src="/images/{{ site.avatar }}" alt="Photo of Paul Warren" />

    <header>
        <h2>{{ site.name }}</h2>
        <span class="byline">{{ site.description }}</span>
    </header>

    <p>Welcome to my home on the internet! Everything here is free
    under the Creative Commons Attribution 3.0 license unless marked
    otherwise.</p>
 
    <p>This site contains various pieces of writing across my various
    interests.</p>
    <p> Thanks to <a href="http://pfj.id.au">Paul Fenwick</a> for doing 
    all the hard work, you can
    <a href="https://github.com/pjf/pjf.github.io">fork his original site
    on github</a>, or <a href="https://github.com/pwarren/pwarren.github.io/"> 
    my version (this site)</a>. Please feel free to send pull requests for bugs!</p>


</article>

{% include post-list.html posts=paginator.posts %}

{% include tip-box.html %}
